<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>About Cosmos</title>
	<meta name="author" content="" />
	<meta name="description" content=""/>
	<meta name="keywords"  content="" />
	<meta name="Resource-type" content="Document" />
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
  <!-- Tile icon for Win8 (144x144 + tile color) -->
	<meta name="msapplication-TileImage" content="images/ms-touch-icon-144x144-precomposed.png">
	<meta name="msapplication-TileColor" content="#000000">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://use.typekit.net/egv8ena.css">
	<!-- <link rel="stylesheet" type="text/css" href="css/main.css" /> -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/balloon-css/balloon.min.css">


    <link rel="stylesheet" href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css">
  <!-- build:css(./.tmp) css/main.min.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css" />
    <link rel="stylesheet" href="../bower_components/angular-loading-bar/build/loading-bar.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="styles/main.css">
	<style>

	/* Style for our header texts
	* --------------------------------------- */
		
	@font-face {
		font-family: 'DINPro-Medium';
		src: url('fonts/DINPro-Medium.eot');
		src: url('fonts/DINPro-Medium.eot?#iefix') format('embedded-opentype'),
		   url('fonts/DINPro-Medium.svg#DINPro-Medium') format('svg'),
		   url('fonts/DINPro-Medium.ttf') format('truetype'),
		   url('fonts/DINPro-Medium.woff') format('woff'),
		   url('fonts/DINPro-Medium.woff2') format('woff2');

		}
	html {
		overflow-x: unset;
	}	
	body, h2, p {
		font-family: 'DINPro-Medium';
	}
	body {
		background-color: #13191B;
	}
	.text-light-grey {
		color: #DAE1E5;
	}
	.text-dark-grey {
		color: #838C8E;
	}
	.wrapper {
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
		padding-top:72px;
		background: #13191B;
		background-image: url(images/cosmos_dark.png);
		background-position:1% 5%;
		background-size: 35%;
		background-repeat: no-repeat;
	}
	.about-img {
		justify-content: space-between;
		display: flex;
	}
</style>
</head>
<body style="background-color: #15191c;">
<div class="top-bar">
  <div class="logo">
    <img src="images/cosmos.png" alt="Orbit" />
  </div>
  <div class="menu">
    <ul>
      <li ng-click="isAboutPopupOpen = !isAboutPopupOpen"><a href="/about.html" target="_self">About</a></li>
      <li ng-click="isIntroPopupOpen = !isIntroPopupOpen"><a href>Guide</a></li>
	  <li ng-click="isIntroPopupOpen = !isIntroPopupOpen"><a class="active" href>Explore</a></li>
    </ul>
  </div>
</div>

<main class="wrapper container-fluid">
  <section class="section parallax bg1 row">
	<div class="content-text col-lg-7 offset-lg-3 mt-5">
		<h2 class="text-light-grey">Clarity brings insight to drive change.<br>
						Explore COSMOS and be part of that change.</h2>
				
	</div>			
	<div class="content-text col-lg-6 offset-lg-3 mt-5">
		<p class="text-dark-grey">
			“In a tangled universe, it’s hard to spot the stars that truly prosper. COSMOS is your map.”
Despite a positive economic outlook and significant funding available to invest in Africa, the challenge remains to increase capital flows into the continent to support the Sustainable Development Goals (SDGs). According to a recent study¹, the continent faces an annual SDG funding gap between $500 billion to $1.2 trillion - approximately 25-30% of the current Africa GDP annually. Recent declining trends of aid and foreign direct investments mean that the SDGs funding gap will continue to grow.

Challenges such as the lack of visibility on "bankable" pipelines, gaps in skills capacity, and problematic regulatory frameworks limit the flow of financial support to projects with significant development impact. Numerous regional initiatives have been established to address these issues, but their effectiveness has been hindered by a fragmented and uncoordinated approach.   COSMOS is the illustration of the development finance ecosystem in Africa, aiming to increase visibility into this universe and identify the stars mobilizing finance for the SDGs. COSMOS maps existing efforts, programmes, initiatives, coalitions and institutions working to address the SDGs funding gap in Sub Saharan Africa to facilitate more effective coordination and alignment across the ecosystem. The ultimate goal is to scale effective solutions and increase the pace of action to deliver the Agenda 2030.

COSMOS has mapped the SDG financing ecosystem in Sub Saharan Africa, across 3 key three areas of intervention:

Financing (including blended finance): Provide investments and financing for projects (equity, financing, grants, funds, bridging capital, etc); offer mechanisms, instruments or vehicles for co-financing or de-risking (guarantees, etc.); or support projects on structuring their financing.

Capacity Building and Pipeline: Provide technical capacity and skills development to improve the design, development and management of projects, as well as the ability to develop strategic financing structures (i.e. increase capacity to understand and apply blended finance); assist in creating structured pipelines of projects; and assist projects to move along the development cycle.

Enabling Environment: Provide policy or regulatory support/advisory/guidance;  improve public process transparency and governance on the ground to create an investable environment in countries.

COSMOS is a product of the Sustainable Development Investment Partnership (SDIP), a joint initiative of the World Economic Forum and the OECD, representing a coalition of 42 public, philanthropic and private members. SDIP is committed to achieving SDGs by facilitating systemic change in the development finance ecosystem and mobilizing sustainable investments in emerging and developing countries. SDIP operates as a neutral platform and enabler for coordinated public-private collaboration and takes a regional approach to addressing financing challenges through its Africa Regional Hub.

COSMOS is a growing and evolving tool, which was initiated as part of the work on Sub-Saharan Africa, but has the ambition to become a global database offering a detailed image of all the efforts active in financing the SDGs. COSMOS aims to improve the understanding and visibility on the journey to meet the SDGs, contributing to meeting the Agenda 2030 by surfacing the successful efforts that are driving change worldwide.
			</p>
			<p class="text-dark-grey" style="font-size:6pt;">1 https://sdgcafrica.org/wp-content/uploads/2019/06/AFRICA-2030-SDGs-THREE-YEAR-REALITY-CHECK-REPORT.pdf</p>
			<br><br>
			<div class="about-img">
				<div><img src="images/sdip.png" width="180"></div>
				<div><img src="images/world_economic_forum.png" width="180"></div>
				<div><img src="images/oecd.png" width="180"></div>
			</div>
		</div>	
  </section>
  
</main>

	<!--[if IE]>
		<script type="text/javascript">
			 var console = { log: function() {} };
		</script>
	<![endif]-->

</body>
</html>